p {color: rgb(199, 161, 161); font-family:'Futura', sans-serif;}

body {background-color: rgb(185, 14, 14);}
footer { background-color: rgb(8, 3, 3);}
*{color: rgb(206, 121, 52);}

body {
	font-family: sans-serif;
	padding: 500px;
}

p { padding: 20px 20px 40px 80px; }

