p {color: red; font-family:'Futura', sans-serif;}
blockquote {color: blue;}
footer { background-color: lightgray;}
*{color: gray;}
p.warning {color: red;}
h2#second-heading {color: blue;}
a[href^='https://www.youtube.com/watch?v=OC6g21QRTZs'] {color: teal;}
details[open]{color: gray;}
a:link {color: red;}
a:visited{color: purple;}
a:hover {color: fuchsia;}
a:active {color: maroon;}


