body {
  margin: 0;
  line-height: normal;
}
.f-329664531-ypxyypt3cgs8knhskq-icon290 {
  position: absolute;
  top: 576px;
  left: 0;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.macbook-pro-16-21 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 931px;
  overflow-y: auto;
}
.f-329664531-ypxyypt3cgs8knhskq-icon291,
.f-329664531-ypxyypt3cgs8knhskq-icon292 {
  position: absolute;
  top: 0;
  left: 0;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon292 {
  top: 4898px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon293,
.f-329664531-ypxyypt3cgs8knhskq-icon294 {
  position: absolute;
  top: 5762px;
  left: 0;
  width: 289px;
  height: 289px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon294 {
  top: 2305px;
  height: 288px;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon295,
.f-329664531-ypxyypt3cgs8knhskq-icon296 {
  position: absolute;
  top: 3170px;
  left: 0;
  width: 289px;
  height: 287px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon296 {
  top: 4034px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon297,
.f-329664531-ypxyypt3cgs8knhskq-icon298 {
  position: absolute;
  top: 1152px;
  left: 0;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon298 {
  top: 289px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon299,
.f-329664531-ypxyypt3cgs8knhskq-icon300 {
  position: absolute;
  top: 5186px;
  left: 0;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon300 {
  top: 6051px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon301,
.f-329664531-ypxyypt3cgs8knhskq-icon302 {
  position: absolute;
  top: 2593px;
  left: 0;
  width: 289px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon302 {
  top: 3457px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon303,
.f-329664531-ypxyypt3cgs8knhskq-icon304,
.f-329664531-ypxyypt3cgs8knhskq-icon305 {
  position: absolute;
  top: 4322px;
  left: 0;
  width: 289px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon304,
.f-329664531-ypxyypt3cgs8knhskq-icon305 {
  top: 1441px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon305 {
  top: 5475px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon306,
.f-329664531-ypxyypt3cgs8knhskq-icon307,
.f-329664531-ypxyypt3cgs8knhskq-icon308 {
  position: absolute;
  top: 6338px;
  left: 0;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon307,
.f-329664531-ypxyypt3cgs8knhskq-icon308 {
  top: 2881px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon308 {
  top: 3746px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon309,
.f-329664531-ypxyypt3cgs8knhskq-icon310 {
  position: absolute;
  top: 4610px;
  left: 0;
  width: 289px;
  height: 288px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon310 {
  top: 1729px;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon311,
.f-329664531-ypxyypt3cgs8knhskq-icon312 {
  position: absolute;
  top: 865px;
  left: 0;
  width: 289px;
  height: 287px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon312 {
  top: 2017px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon313,
.f-329664531-ypxyypt3cgs8knhskq-icon314 {
  position: absolute;
  top: 0;
  left: 289px;
  width: 287px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon314 {
  top: 4898px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon315,
.f-329664531-ypxyypt3cgs8knhskq-icon316,
.f-329664531-ypxyypt3cgs8knhskq-icon317 {
  position: absolute;
  top: 5762px;
  left: 289px;
  width: 287px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon316,
.f-329664531-ypxyypt3cgs8knhskq-icon317 {
  top: 2305px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon317 {
  top: 3170px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon318,
.f-329664531-ypxyypt3cgs8knhskq-icon319,
.f-329664531-ypxyypt3cgs8knhskq-icon320 {
  position: absolute;
  top: 4034px;
  left: 289px;
  width: 287px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon319,
.f-329664531-ypxyypt3cgs8knhskq-icon320 {
  top: 1152px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon320 {
  top: 289px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon321,
.f-329664531-ypxyypt3cgs8knhskq-icon322,
.f-329664531-ypxyypt3cgs8knhskq-icon323 {
  position: absolute;
  top: 5186px;
  left: 289px;
  width: 287px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon322,
.f-329664531-ypxyypt3cgs8knhskq-icon323 {
  top: 6051px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon323 {
  top: 2593px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon324,
.f-329664531-ypxyypt3cgs8knhskq-icon325 {
  position: absolute;
  top: 3457px;
  left: 289px;
  width: 287px;
  height: 289px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon325 {
  top: 4322px;
  height: 288px;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon326,
.f-329664531-ypxyypt3cgs8knhskq-icon327,
.f-329664531-ypxyypt3cgs8knhskq-icon328 {
  position: absolute;
  top: 1441px;
  left: 289px;
  width: 287px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon327,
.f-329664531-ypxyypt3cgs8knhskq-icon328 {
  top: 576px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon328 {
  top: 5475px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon329,
.f-329664531-ypxyypt3cgs8knhskq-icon330,
.f-329664531-ypxyypt3cgs8knhskq-icon331 {
  position: absolute;
  top: 6338px;
  left: 289px;
  width: 287px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon330,
.f-329664531-ypxyypt3cgs8knhskq-icon331 {
  top: 2881px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon331 {
  top: 3746px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon332,
.f-329664531-ypxyypt3cgs8knhskq-icon333,
.f-329664531-ypxyypt3cgs8knhskq-icon334 {
  position: absolute;
  top: 4610px;
  left: 289px;
  width: 287px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon333,
.f-329664531-ypxyypt3cgs8knhskq-icon334 {
  top: 1729px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon334 {
  top: 865px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon335 {
  position: absolute;
  top: 2017px;
  left: 289px;
  width: 287px;
  height: 288px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon336,
.f-329664531-ypxyypt3cgs8knhskq-icon337,
.f-329664531-ypxyypt3cgs8knhskq-icon338 {
  position: absolute;
  top: 0;
  left: 577px;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon337,
.f-329664531-ypxyypt3cgs8knhskq-icon338 {
  top: 4898px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon338 {
  top: 5762px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon339,
.f-329664531-ypxyypt3cgs8knhskq-icon340,
.f-329664531-ypxyypt3cgs8knhskq-icon341 {
  position: absolute;
  top: 2305px;
  left: 577px;
  width: 289px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon340,
.f-329664531-ypxyypt3cgs8knhskq-icon341 {
  top: 3170px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon341 {
  top: 4034px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon342 {
  position: absolute;
  top: 1152px;
  left: 577px;
  width: 289px;
  height: 289px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon343,
.f-329664531-ypxyypt3cgs8knhskq-icon344,
.f-329664531-ypxyypt3cgs8knhskq-icon345 {
  position: absolute;
  top: 289px;
  left: 577px;
  width: 289px;
  height: 287px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon344,
.f-329664531-ypxyypt3cgs8knhskq-icon345 {
  top: 5186px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon345 {
  top: 6051px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon346,
.f-329664531-ypxyypt3cgs8knhskq-icon347,
.f-329664531-ypxyypt3cgs8knhskq-icon348 {
  position: absolute;
  top: 2593px;
  left: 577px;
  width: 289px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon347,
.f-329664531-ypxyypt3cgs8knhskq-icon348 {
  top: 3457px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon348 {
  top: 4322px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon349 {
  position: absolute;
  top: 1441px;
  left: 577px;
  width: 289px;
  height: 288px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon350,
.f-329664531-ypxyypt3cgs8knhskq-icon351,
.f-329664531-ypxyypt3cgs8knhskq-icon352 {
  position: absolute;
  top: 576px;
  left: 577px;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon351,
.f-329664531-ypxyypt3cgs8knhskq-icon352 {
  top: 5475px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon352 {
  top: 6338px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon353,
.f-329664531-ypxyypt3cgs8knhskq-icon354,
.f-329664531-ypxyypt3cgs8knhskq-icon355 {
  position: absolute;
  top: 2881px;
  left: 577px;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon354,
.f-329664531-ypxyypt3cgs8knhskq-icon355 {
  top: 3746px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon355 {
  top: 4610px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon356,
.f-329664531-ypxyypt3cgs8knhskq-icon357,
.f-329664531-ypxyypt3cgs8knhskq-icon358 {
  position: absolute;
  top: 1729px;
  left: 577px;
  width: 289px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon357,
.f-329664531-ypxyypt3cgs8knhskq-icon358 {
  top: 865px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon358 {
  top: 2017px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon359,
.f-329664531-ypxyypt3cgs8knhskq-icon360 {
  position: absolute;
  top: 0;
  left: 866px;
  width: 287px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon360 {
  top: 4898px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon361,
.f-329664531-ypxyypt3cgs8knhskq-icon362,
.f-329664531-ypxyypt3cgs8knhskq-icon363 {
  position: absolute;
  top: 5762px;
  left: 866px;
  width: 287px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon362,
.f-329664531-ypxyypt3cgs8knhskq-icon363 {
  top: 2305px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon363 {
  top: 3170px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon364,
.f-329664531-ypxyypt3cgs8knhskq-icon365,
.f-329664531-ypxyypt3cgs8knhskq-icon366 {
  position: absolute;
  top: 4034px;
  left: 866px;
  width: 287px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon365,
.f-329664531-ypxyypt3cgs8knhskq-icon366 {
  top: 1152px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon366 {
  top: 289px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon367,
.f-329664531-ypxyypt3cgs8knhskq-icon368,
.f-329664531-ypxyypt3cgs8knhskq-icon369 {
  position: absolute;
  top: 5186px;
  left: 866px;
  width: 287px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon368,
.f-329664531-ypxyypt3cgs8knhskq-icon369 {
  top: 6051px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon369 {
  top: 2593px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon370,
.f-329664531-ypxyypt3cgs8knhskq-icon371,
.f-329664531-ypxyypt3cgs8knhskq-icon372 {
  position: absolute;
  top: 3457px;
  left: 866px;
  width: 287px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon371,
.f-329664531-ypxyypt3cgs8knhskq-icon372 {
  top: 4322px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon372 {
  top: 1441px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon373,
.f-329664531-ypxyypt3cgs8knhskq-icon374,
.f-329664531-ypxyypt3cgs8knhskq-icon375 {
  position: absolute;
  top: 576px;
  left: 866px;
  width: 287px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon374,
.f-329664531-ypxyypt3cgs8knhskq-icon375 {
  top: 5475px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon375 {
  top: 6338px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon376 {
  position: absolute;
  top: 2881px;
  left: 866px;
  width: 287px;
  height: 289px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon377,
.f-329664531-ypxyypt3cgs8knhskq-icon378 {
  position: absolute;
  top: 3746px;
  left: 866px;
  width: 287px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon378 {
  top: 4610px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon379,
.f-329664531-ypxyypt3cgs8knhskq-icon380,
.f-329664531-ypxyypt3cgs8knhskq-icon381 {
  position: absolute;
  top: 1729px;
  left: 866px;
  width: 287px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon380,
.f-329664531-ypxyypt3cgs8knhskq-icon381 {
  top: 865px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon381 {
  top: 2017px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon382,
.f-329664531-ypxyypt3cgs8knhskq-icon383 {
  position: absolute;
  top: 0;
  left: 1153px;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon383 {
  top: 4898px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon384,
.f-329664531-ypxyypt3cgs8knhskq-icon385,
.f-329664531-ypxyypt3cgs8knhskq-icon386 {
  position: absolute;
  top: 5762px;
  left: 1153px;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon385,
.f-329664531-ypxyypt3cgs8knhskq-icon386 {
  top: 2305px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon386 {
  top: 3170px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon387 {
  position: absolute;
  top: 4034px;
  left: 1153px;
  width: 289px;
  height: 288px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon388,
.f-329664531-ypxyypt3cgs8knhskq-icon389,
.f-329664531-ypxyypt3cgs8knhskq-icon390 {
  position: absolute;
  top: 1152px;
  left: 1153px;
  width: 289px;
  height: 289px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon389,
.f-329664531-ypxyypt3cgs8knhskq-icon390 {
  top: 289px;
  height: 287px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon390 {
  top: 5186px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon391,
.f-329664531-ypxyypt3cgs8knhskq-icon392,
.f-329664531-ypxyypt3cgs8knhskq-icon393 {
  position: absolute;
  top: 6051px;
  left: 1153px;
  width: 289px;
  height: 287px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon392,
.f-329664531-ypxyypt3cgs8knhskq-icon393 {
  top: 2593px;
  height: 288px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon393 {
  top: 3457px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon394,
.f-329664531-ypxyypt3cgs8knhskq-icon395,
.f-329664531-ypxyypt3cgs8knhskq-icon396 {
  position: absolute;
  top: 4322px;
  left: 1153px;
  width: 289px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon395,
.f-329664531-ypxyypt3cgs8knhskq-icon396 {
  top: 1441px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon396 {
  top: 576px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon397,
.f-329664531-ypxyypt3cgs8knhskq-icon398,
.f-329664531-ypxyypt3cgs8knhskq-icon399 {
  position: absolute;
  top: 5475px;
  left: 1153px;
  width: 289px;
  height: 287px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon398,
.f-329664531-ypxyypt3cgs8knhskq-icon399 {
  top: 6338px;
  height: 289px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon399 {
  top: 2881px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon400,
.f-329664531-ypxyypt3cgs8knhskq-icon401,
.f-329664531-ypxyypt3cgs8knhskq-icon402 {
  position: absolute;
  top: 3746px;
  left: 1153px;
  width: 289px;
  height: 288px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon401,
.f-329664531-ypxyypt3cgs8knhskq-icon402 {
  top: 4610px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon402 {
  top: 1729px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon403,
.f-329664531-ypxyypt3cgs8knhskq-icon404 {
  position: absolute;
  top: 865px;
  left: 1153px;
  width: 289px;
  height: 287px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon404 {
  top: 2017px;
  height: 288px;
  mix-blend-mode: soft-light;
}
.button-div2 {
  position: absolute;
  top: 61px;
  left: 58px;
  border-radius: var(--br-md);
  background-color: var(--color-blue-200);
  width: 187px;
  height: 43px;
  opacity: 0.65;
  cursor: pointer;
}
.harmonic-collection-div2 {
  position: absolute;
  top: 75px;
  left: 81px;
  font-size: var(--font-size-sm);
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 148px;
  height: 15px;
}
.line-div2 {
  position: absolute;
  top: 300.5px;
  left: 286.5px;
  border-top: 5px solid var(--color-fuchsia-200);
  box-sizing: border-box;
  width: 290px;
  height: 5px;
}
.follow-the-moving-dot2,
.rabbit-or-bird2 {
  position: absolute;
  top: 1091px;
  left: 145px;
  font-weight: 500;
  display: inline-block;
  width: 289px;
  height: 23px;
}
.rabbit-or-bird2 {
  top: 2017px;
  left: 866px;
}
.stare-at-the-moving-image-for2 {
  top: 4178px;
  left: 144px;
  width: 329px;
  height: 73px;
}
.rabbit-or-bird3,
.stare-at-the-moving-image-for2,
.watch-carefully2 {
  position: absolute;
  display: inline-block;
}
.rabbit-or-bird3 {
  top: 1663px;
  left: 932px;
  font-weight: 500;
  width: 289px;
  height: 23px;
}
.watch-carefully2 {
  top: 5554px;
  left: 845px;
  color: var(--color-gray-100);
  width: 290px;
  height: 22px;
}
.disappearing-dot-1-icon2,
.vm-1-icon2 {
  position: absolute;
  top: 1230px;
  left: 502.5px;
  width: 643.5px;
  height: 498px;
  background-image: url(./public/disappearingdot12@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vm-1-icon2 {
  top: 4306px;
  left: 497px;
  width: 641px;
  height: 888px;
  background-image: url(./public/48vm12@3x.png);
}
.download-1-icon2 {
  position: absolute;
  top: 2188px;
  left: 227px;
  width: 464px;
  height: 347px;
  object-fit: cover;
}
.have-you-been-deceived-yet2,
.if-not-continue-on-for-more-de2 {
  position: absolute;
  top: 2842px;
  left: 145px;
  display: inline-block;
  width: 338px;
  height: 27px;
}
.if-not-continue-on-for-more-de2 {
  top: 3561px;
  left: 853px;
  width: 293px;
  height: 46px;
}
.stewart11-1-icon2 {
  position: absolute;
  top: 5740px;
  left: 138px;
  width: 641px;
  height: 285px;
  background-image: url(./public/stewart1112@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-div12,
.rectangle-div13,
.rectangle-div14,
.rectangle-div15,
.rectangle-div16 {
  position: absolute;
  top: 1388px;
  left: 132px;
  background-color: var(--color-blue-100);
  width: 395px;
  height: 167px;
}
.rectangle-div13,
.rectangle-div14,
.rectangle-div15,
.rectangle-div16 {
  top: 2334px;
  left: 721px;
  width: 396px;
}
.rectangle-div14,
.rectangle-div15,
.rectangle-div16 {
  top: 5161px;
  left: 109px;
  width: 373px;
  height: 81px;
}
.rectangle-div15,
.rectangle-div16 {
  top: 5994px;
  left: 765px;
  width: 405px;
  height: 112px;
}
.rectangle-div16 {
  top: 329px;
  left: 289px;
  border-top: 0 solid var(--color-fuchsia-100);
  border-right: 5px solid var(--color-fuchsia-100);
  border-bottom: 0 solid var(--color-fuchsia-100);
  border-left: 0 solid var(--color-fuchsia-100);
  box-sizing: border-box;
  width: 864px;
  height: 144px;
}
.focus-on-the-plus-sign-in-the2 {
  position: absolute;
  top: 1424px;
  left: 145px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 293px;
  height: 110px;
}
.i-see2 {
  margin-block-start: 0;
  margin-block-end: 25px;
}
.illusions2 {
  letter-spacing: 0.1em;
  font-weight: 700;
}
.illusions-p2 {
  margin: 0;
  color: var(--color-fuchsia-100);
}
.i-see-illusions2 {
  position: absolute;
  top: 188px;
  left: 295px;
  font-size: 96px;
  display: inline-block;
  width: 850px;
  height: 285px;
}
.at-first-glance-did-you-see-a2,
.can-you-see-it-moving2,
.which-way-are-they-spinning-t2 {
  position: absolute;
  top: 2404px;
  left: 730px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 293px;
  height: 31px;
}
.can-you-see-it-moving2,
.which-way-are-they-spinning-t2 {
  top: 5194px;
  left: 122px;
  height: 34px;
}
.which-way-are-they-spinning-t2 {
  top: 6028px;
  left: 774px;
  width: 294px;
  height: 50px;
}
.rectangle-div17 {
  position: absolute;
  top: 6331px;
  left: 641px;
  border-radius: var(--br-sm);
  background-color: var(--color-blue-100);
  box-shadow: 0 4px 4px #ff09f6;
  width: 100px;
  height: 41px;
}
.top-div4 {
  position: absolute;
  top: calc(50% + 3030.63px);
  left: calc(50% - 103px);
  font-size: var(--font-size-base);
  font-weight: 800;
  text-align: center;
  display: inline-block;
  width: 149px;
  height: 28px;
  cursor: pointer;
}
.line-icon8,
.line-icon9 {
  position: absolute;
  top: calc(50% + 3023.44px);
  left: calc(50% - 38.94px);
  width: 11.6px;
  height: 7.92px;
}
.line-icon9 {
  left: calc(50% - 29.96px);
}
.desktop-1 {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 6627px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-jetbrains-mono);
}
