body {
  margin: 0;
  line-height: normal;
}
.f-329664531-ypxyypt3cgs8knhskq-icon175 {
  position: absolute;
  top: 410px;
  left: 206px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.macbook-pro-16-2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1024px;
  height: 662px;
  overflow-y: auto;
}
.f-329664531-ypxyypt3cgs8knhskq-icon176,
.f-329664531-ypxyypt3cgs8knhskq-icon177 {
  position: absolute;
  top: 0;
  left: 0;
  width: 206px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon177 {
  top: 3486px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon178 {
  position: absolute;
  top: 4100px;
  left: 0;
  width: 206px;
  height: 206px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon179,
.f-329664531-ypxyypt3cgs8knhskq-icon180 {
  position: absolute;
  top: 1640px;
  left: 0;
  width: 206px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon180 {
  top: 2256px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon181,
.f-329664531-ypxyypt3cgs8knhskq-icon182,
.f-329664531-ypxyypt3cgs8knhskq-icon183 {
  position: absolute;
  top: 2871px;
  left: 0;
  width: 206px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon182,
.f-329664531-ypxyypt3cgs8knhskq-icon183 {
  top: 820px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon183 {
  top: 206px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon184,
.f-329664531-ypxyypt3cgs8knhskq-icon185 {
  position: absolute;
  top: 3691px;
  left: 0;
  width: 206px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon185 {
  top: 4306px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon186,
.f-329664531-ypxyypt3cgs8knhskq-icon187 {
  position: absolute;
  top: 1845px;
  left: 0;
  width: 206px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon187 {
  top: 2460px;
  height: 206px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon188,
.f-329664531-ypxyypt3cgs8knhskq-icon189,
.f-329664531-ypxyypt3cgs8knhskq-icon190 {
  position: absolute;
  top: 3076px;
  left: 0;
  width: 206px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon189,
.f-329664531-ypxyypt3cgs8knhskq-icon190 {
  top: 1025px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon190 {
  top: 3896px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon191,
.f-329664531-ypxyypt3cgs8knhskq-icon192,
.f-329664531-ypxyypt3cgs8knhskq-icon193 {
  position: absolute;
  top: 4510px;
  left: 0;
  width: 206px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon192,
.f-329664531-ypxyypt3cgs8knhskq-icon193 {
  top: 2050px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon193 {
  top: 2666px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon194,
.f-329664531-ypxyypt3cgs8knhskq-icon195 {
  position: absolute;
  top: 3281px;
  left: 0;
  width: 206px;
  height: 205px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon195 {
  top: 1230px;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon196,
.f-329664531-ypxyypt3cgs8knhskq-icon197 {
  position: absolute;
  top: 616px;
  left: 0;
  width: 206px;
  height: 204px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon197 {
  top: 1435px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon198,
.f-329664531-ypxyypt3cgs8knhskq-icon199 {
  position: absolute;
  top: 0;
  left: 206px;
  width: 204px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon199 {
  top: 3486px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon200,
.f-329664531-ypxyypt3cgs8knhskq-icon201,
.f-329664531-ypxyypt3cgs8knhskq-icon202 {
  position: absolute;
  top: 4100px;
  left: 206px;
  width: 204px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon201,
.f-329664531-ypxyypt3cgs8knhskq-icon202 {
  top: 1640px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon202 {
  top: 2256px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon203,
.f-329664531-ypxyypt3cgs8knhskq-icon204,
.f-329664531-ypxyypt3cgs8knhskq-icon205 {
  position: absolute;
  top: 2871px;
  left: 206px;
  width: 204px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon204,
.f-329664531-ypxyypt3cgs8knhskq-icon205 {
  top: 820px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon205 {
  top: 206px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon206,
.f-329664531-ypxyypt3cgs8knhskq-icon207,
.f-329664531-ypxyypt3cgs8knhskq-icon208 {
  position: absolute;
  top: 3691px;
  left: 206px;
  width: 204px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon207,
.f-329664531-ypxyypt3cgs8knhskq-icon208 {
  top: 4306px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon208 {
  top: 1845px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon209 {
  position: absolute;
  top: 2460px;
  left: 206px;
  width: 204px;
  height: 206px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon210,
.f-329664531-ypxyypt3cgs8knhskq-icon211 {
  position: absolute;
  top: 3076px;
  left: 206px;
  width: 204px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon211 {
  top: 1025px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon212,
.f-329664531-ypxyypt3cgs8knhskq-icon213 {
  position: absolute;
  top: 410px;
  left: 0;
  width: 206px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon213 {
  top: 3896px;
  left: 206px;
  width: 204px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon214,
.f-329664531-ypxyypt3cgs8knhskq-icon215,
.f-329664531-ypxyypt3cgs8knhskq-icon216 {
  position: absolute;
  top: 4510px;
  left: 206px;
  width: 204px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon215,
.f-329664531-ypxyypt3cgs8knhskq-icon216 {
  top: 2050px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon216 {
  top: 2666px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon217,
.f-329664531-ypxyypt3cgs8knhskq-icon218,
.f-329664531-ypxyypt3cgs8knhskq-icon219 {
  position: absolute;
  top: 3281px;
  left: 206px;
  width: 204px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon218,
.f-329664531-ypxyypt3cgs8knhskq-icon219 {
  top: 1230px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon219 {
  top: 616px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon220 {
  position: absolute;
  top: 1435px;
  left: 206px;
  width: 204px;
  height: 205px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon221,
.f-329664531-ypxyypt3cgs8knhskq-icon222,
.f-329664531-ypxyypt3cgs8knhskq-icon223 {
  position: absolute;
  top: 0;
  left: 411px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon222,
.f-329664531-ypxyypt3cgs8knhskq-icon223 {
  top: 3486px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon223 {
  top: 4100px;
  height: 206px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon224,
.f-329664531-ypxyypt3cgs8knhskq-icon225,
.f-329664531-ypxyypt3cgs8knhskq-icon226 {
  position: absolute;
  top: 1640px;
  left: 411px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon225,
.f-329664531-ypxyypt3cgs8knhskq-icon226 {
  top: 2256px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon226 {
  top: 2871px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon227 {
  position: absolute;
  top: 820px;
  left: 411px;
  width: 205px;
  height: 205px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon228,
.f-329664531-ypxyypt3cgs8knhskq-icon229,
.f-329664531-ypxyypt3cgs8knhskq-icon230 {
  position: absolute;
  top: 206px;
  left: 411px;
  width: 205px;
  height: 204px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon229,
.f-329664531-ypxyypt3cgs8knhskq-icon230 {
  top: 3691px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon230 {
  top: 4306px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon231,
.f-329664531-ypxyypt3cgs8knhskq-icon232,
.f-329664531-ypxyypt3cgs8knhskq-icon233 {
  position: absolute;
  top: 1845px;
  left: 411px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon232,
.f-329664531-ypxyypt3cgs8knhskq-icon233 {
  top: 2460px;
  height: 206px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon233 {
  top: 3076px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon234 {
  position: absolute;
  top: 1025px;
  left: 411px;
  width: 205px;
  height: 205px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon235,
.f-329664531-ypxyypt3cgs8knhskq-icon236,
.f-329664531-ypxyypt3cgs8knhskq-icon237 {
  position: absolute;
  top: 410px;
  left: 411px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon236,
.f-329664531-ypxyypt3cgs8knhskq-icon237 {
  top: 3896px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon237 {
  top: 4510px;
  height: 206px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon238,
.f-329664531-ypxyypt3cgs8knhskq-icon239,
.f-329664531-ypxyypt3cgs8knhskq-icon240 {
  position: absolute;
  top: 2050px;
  left: 411px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon239,
.f-329664531-ypxyypt3cgs8knhskq-icon240 {
  top: 2666px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon240 {
  top: 3281px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon241,
.f-329664531-ypxyypt3cgs8knhskq-icon242,
.f-329664531-ypxyypt3cgs8knhskq-icon243 {
  position: absolute;
  top: 1230px;
  left: 411px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon242,
.f-329664531-ypxyypt3cgs8knhskq-icon243 {
  top: 616px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon243 {
  top: 1435px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon244,
.f-329664531-ypxyypt3cgs8knhskq-icon245 {
  position: absolute;
  top: 0;
  left: 616px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon245 {
  top: 3486px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon246,
.f-329664531-ypxyypt3cgs8knhskq-icon247,
.f-329664531-ypxyypt3cgs8knhskq-icon248 {
  position: absolute;
  top: 4100px;
  left: 616px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon247,
.f-329664531-ypxyypt3cgs8knhskq-icon248 {
  top: 1640px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon248 {
  top: 2256px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon249,
.f-329664531-ypxyypt3cgs8knhskq-icon250,
.f-329664531-ypxyypt3cgs8knhskq-icon251 {
  position: absolute;
  top: 2871px;
  left: 616px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon250,
.f-329664531-ypxyypt3cgs8knhskq-icon251 {
  top: 820px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon251 {
  top: 206px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon252,
.f-329664531-ypxyypt3cgs8knhskq-icon253,
.f-329664531-ypxyypt3cgs8knhskq-icon254 {
  position: absolute;
  top: 3691px;
  left: 616px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon253,
.f-329664531-ypxyypt3cgs8knhskq-icon254 {
  top: 4306px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon254 {
  top: 1845px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon255,
.f-329664531-ypxyypt3cgs8knhskq-icon256,
.f-329664531-ypxyypt3cgs8knhskq-icon257 {
  position: absolute;
  top: 2460px;
  left: 616px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon256,
.f-329664531-ypxyypt3cgs8knhskq-icon257 {
  top: 3076px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon257 {
  top: 1025px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon258,
.f-329664531-ypxyypt3cgs8knhskq-icon259,
.f-329664531-ypxyypt3cgs8knhskq-icon260 {
  position: absolute;
  top: 410px;
  left: 616px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon259,
.f-329664531-ypxyypt3cgs8knhskq-icon260 {
  top: 3896px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon260 {
  top: 4510px;
  height: 206px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon261 {
  position: absolute;
  top: 2050px;
  left: 616px;
  width: 205px;
  height: 206px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon262,
.f-329664531-ypxyypt3cgs8knhskq-icon263 {
  position: absolute;
  top: 2666px;
  left: 616px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon263 {
  top: 3281px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon264,
.f-329664531-ypxyypt3cgs8knhskq-icon265,
.f-329664531-ypxyypt3cgs8knhskq-icon266 {
  position: absolute;
  top: 1230px;
  left: 616px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon265,
.f-329664531-ypxyypt3cgs8knhskq-icon266 {
  top: 616px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon266 {
  top: 1435px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon267,
.f-329664531-ypxyypt3cgs8knhskq-icon268 {
  position: absolute;
  top: 0;
  left: 821px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon268 {
  top: 3486px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon269,
.f-329664531-ypxyypt3cgs8knhskq-icon270,
.f-329664531-ypxyypt3cgs8knhskq-icon271 {
  position: absolute;
  top: 4100px;
  left: 821px;
  width: 205px;
  height: 206px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon270,
.f-329664531-ypxyypt3cgs8knhskq-icon271 {
  top: 1640px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon271 {
  top: 2256px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon272 {
  position: absolute;
  top: 2871px;
  left: 821px;
  width: 205px;
  height: 205px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon273,
.f-329664531-ypxyypt3cgs8knhskq-icon274,
.f-329664531-ypxyypt3cgs8knhskq-icon275 {
  position: absolute;
  top: 820px;
  left: 821px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon274,
.f-329664531-ypxyypt3cgs8knhskq-icon275 {
  top: 206px;
  height: 204px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon275 {
  top: 3691px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon276,
.f-329664531-ypxyypt3cgs8knhskq-icon277,
.f-329664531-ypxyypt3cgs8knhskq-icon278 {
  position: absolute;
  top: 4306px;
  left: 821px;
  width: 205px;
  height: 204px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon277,
.f-329664531-ypxyypt3cgs8knhskq-icon278 {
  top: 1845px;
  height: 205px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon278 {
  top: 2460px;
  height: 206px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon279,
.f-329664531-ypxyypt3cgs8knhskq-icon280,
.f-329664531-ypxyypt3cgs8knhskq-icon281 {
  position: absolute;
  top: 3076px;
  left: 821px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon280,
.f-329664531-ypxyypt3cgs8knhskq-icon281 {
  top: 1025px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon281 {
  top: 410px;
  height: 206px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon282,
.f-329664531-ypxyypt3cgs8knhskq-icon283,
.f-329664531-ypxyypt3cgs8knhskq-icon284 {
  position: absolute;
  top: 3896px;
  left: 821px;
  width: 205px;
  height: 204px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon283,
.f-329664531-ypxyypt3cgs8knhskq-icon284 {
  top: 4510px;
  height: 206px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon284 {
  top: 2050px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon285,
.f-329664531-ypxyypt3cgs8knhskq-icon286,
.f-329664531-ypxyypt3cgs8knhskq-icon287 {
  position: absolute;
  top: 2666px;
  left: 821px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon286,
.f-329664531-ypxyypt3cgs8knhskq-icon287 {
  top: 3281px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon287 {
  top: 1230px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon288,
.f-329664531-ypxyypt3cgs8knhskq-icon289 {
  position: absolute;
  top: 616px;
  left: 821px;
  width: 205px;
  height: 204px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon289 {
  top: 1435px;
  height: 205px;
  mix-blend-mode: soft-light;
}
.button-div1 {
  position: absolute;
  top: 43px;
  left: 41px;
  border-radius: var(--br-md);
  background-color: var(--color-blue-200);
  width: 133px;
  height: 31px;
  opacity: 0.65;
  cursor: pointer;
}
.harmonic-collection-div1 {
  position: absolute;
  top: 53px;
  left: 58px;
  font-size: var(--font-size-2xs);
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 105px;
  height: 11px;
}
.line-div1 {
  position: absolute;
  top: 213.5px;
  left: 203.5px;
  border-top: 5px solid var(--color-fuchsia-200);
  box-sizing: border-box;
  width: 207px;
  height: 5px;
}
.follow-the-moving-dot1,
.rabbit-or-bird1 {
  position: absolute;
  top: 776px;
  left: 103px;
  font-weight: 500;
  display: inline-block;
  width: 169px;
  height: 39px;
}
.rabbit-or-bird1 {
  top: 1435px;
  left: 616px;
  width: 206px;
  height: 17px;
}
.stare-at-the-moving-image-for1,
.watch-carefully1 {
  position: absolute;
  top: 2973px;
  left: 102px;
  display: inline-block;
  width: 235px;
  height: 52px;
}
.watch-carefully1 {
  top: 3952px;
  left: 601px;
  color: var(--color-gray-100);
  width: 207px;
  height: 16px;
}
.disappearing-dot-1-icon1,
.vm-1-icon1 {
  position: absolute;
  top: 875px;
  left: 356.5px;
  width: 459.5px;
  height: 355px;
  background-image: url(./public/disappearingdot11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vm-1-icon1 {
  top: 3064px;
  left: 354px;
  width: 456px;
  height: 632px;
  background-image: url(./public/48vm11@3x.png);
}
.download-1-icon1 {
  position: absolute;
  top: 1557px;
  left: 162px;
  width: 330px;
  height: 247px;
  object-fit: cover;
}
.have-you-been-deceived-yet1,
.if-not-continue-on-for-more-de1 {
  position: absolute;
  top: 2022px;
  left: 103px;
  display: inline-block;
  width: 241px;
  height: 20px;
}
.if-not-continue-on-for-more-de1 {
  top: 2534px;
  left: 607px;
  width: 209px;
  height: 33px;
}
.stewart11-1-icon1 {
  position: absolute;
  top: 4085px;
  left: 98px;
  width: 456px;
  height: 203px;
  background-image: url(./public/stewart1111@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-div10,
.rectangle-div6,
.rectangle-div7,
.rectangle-div8,
.rectangle-div9 {
  position: absolute;
  top: 988px;
  left: 94px;
  background-color: var(--color-blue-100);
  width: 281px;
  height: 119px;
}
.rectangle-div10,
.rectangle-div7,
.rectangle-div8,
.rectangle-div9 {
  top: 1661px;
  left: 513px;
  width: 282px;
}
.rectangle-div10,
.rectangle-div8,
.rectangle-div9 {
  top: 3673px;
  left: 78px;
  width: 265px;
  height: 57px;
}
.rectangle-div10,
.rectangle-div9 {
  top: 4266px;
  left: 544px;
  width: 289px;
  height: 79px;
}
.rectangle-div10 {
  top: 233px;
  left: 206px;
  border-top: 0 solid var(--color-fuchsia-100);
  border-right: 5px solid var(--color-fuchsia-100);
  border-bottom: 0 solid var(--color-fuchsia-100);
  border-left: 0 solid var(--color-fuchsia-100);
  box-sizing: border-box;
  width: 615px;
  height: 104px;
}
.focus-on-the-plus-sign-in-the1 {
  position: absolute;
  top: 1013px;
  left: 103px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 209px;
  height: 79px;
}
.i-see1 {
  margin-block-start: 0;
  margin-block-end: 25px;
}
.illusions1 {
  letter-spacing: 0.1em;
  font-weight: 700;
}
.illusions-p1 {
  margin: 0;
  color: var(--color-fuchsia-100);
}
.i-see-illusions1 {
  position: absolute;
  top: 134px;
  left: 210px;
  font-size: 64px;
  display: inline-block;
  width: 605px;
  height: 203px;
}
.at-first-glance-did-you-see-a1,
.can-you-see-it-moving1,
.which-way-are-they-spinning-t1 {
  position: absolute;
  top: 1711px;
  left: 519px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 209px;
  height: 22px;
}
.can-you-see-it-moving1,
.which-way-are-they-spinning-t1 {
  top: 3696px;
  left: 87px;
  width: 208px;
  height: 24px;
}
.which-way-are-they-spinning-t1 {
  top: 4290px;
  left: 551px;
  width: 209px;
  height: 35px;
}
.rectangle-div11 {
  position: absolute;
  top: 4505px;
  left: 456px;
  border-radius: var(--br-sm);
  background-color: var(--color-blue-100);
  box-shadow: 0 4px 4px #ff09f6;
  width: 71px;
  height: 30px;
}
.top-div3 {
  position: absolute;
  top: calc(50% + 2155.95px);
  left: calc(50% - 73px);
  font-size: var(--font-size-sm);
  font-weight: 800;
  text-align: center;
  display: inline-block;
  width: 106px;
  height: 20px;
  cursor: pointer;
}
.line-icon6,
.line-icon7 {
  position: absolute;
  top: calc(50% + 2150.63px);
  left: calc(50% - 27.29px);
  width: 8.24px;
  height: 5.56px;
}
.line-icon7 {
  left: calc(50% - 20.97px);
}
.ipad-pro-129-1 {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 4716px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-jetbrains-mono);
}
