body {
  margin: 0;
  line-height: normal;
}
.f-329664531-ypxyypt3cgs8knhskq-icon {
  position: absolute;
  top: 2601px;
  left: 172px;
  width: 85px;
  height: 80px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon1,
.f-329664531-ypxyypt3cgs8knhskq-icon2,
.f-329664531-ypxyypt3cgs8knhskq-icon3 {
  position: absolute;
  top: 2520px;
  left: 257px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon2,
.f-329664531-ypxyypt3cgs8knhskq-icon3 {
  top: 2601px;
  height: 80px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon3 {
  top: 244px;
  left: 342px;
  width: 87px;
  height: 81px;
}
.iphone-13-13-pro-2 {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-gray-200);
  width: 429px;
  height: 570px;
  overflow: hidden;
}
.f-329664531-ypxyypt3cgs8knhskq-icon4,
.f-329664531-ypxyypt3cgs8knhskq-icon5 {
  position: absolute;
  top: 2520px;
  left: 172px;
  width: 85px;
  height: 81px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon5 {
  top: 1952px;
  left: 86px;
  width: 86px;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon6,
.f-329664531-ypxyypt3cgs8knhskq-icon7,
.f-329664531-ypxyypt3cgs8knhskq-icon8 {
  position: absolute;
  top: 2114px;
  left: 86px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon7,
.f-329664531-ypxyypt3cgs8knhskq-icon8 {
  top: 0;
  left: 0;
}
.f-329664531-ypxyypt3cgs8knhskq-icon8 {
  top: 1382px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon10,
.f-329664531-ypxyypt3cgs8knhskq-icon9 {
  position: absolute;
  top: 1627px;
  left: 0;
  width: 86px;
  height: 81px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon10 {
  top: 2275px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon11,
.f-329664531-ypxyypt3cgs8knhskq-icon12 {
  position: absolute;
  top: 651px;
  left: 0;
  width: 86px;
  height: 80px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon12 {
  top: 895px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon13,
.f-329664531-ypxyypt3cgs8knhskq-icon14,
.f-329664531-ypxyypt3cgs8knhskq-icon15 {
  position: absolute;
  top: 1139px;
  left: 0;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon14,
.f-329664531-ypxyypt3cgs8knhskq-icon15 {
  top: 326px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon15 {
  top: 81px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon16,
.f-329664531-ypxyypt3cgs8knhskq-icon17,
.f-329664531-ypxyypt3cgs8knhskq-icon18 {
  position: absolute;
  top: 1464px;
  left: 0;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon17,
.f-329664531-ypxyypt3cgs8knhskq-icon18 {
  top: 1708px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon18 {
  top: 2357px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon19,
.f-329664531-ypxyypt3cgs8knhskq-icon20,
.f-329664531-ypxyypt3cgs8knhskq-icon21 {
  position: absolute;
  top: 731px;
  left: 0;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon20,
.f-329664531-ypxyypt3cgs8knhskq-icon21 {
  top: 975px;
  height: 83px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon21 {
  top: 1220px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon22,
.f-329664531-ypxyypt3cgs8knhskq-icon23,
.f-329664531-ypxyypt3cgs8knhskq-icon24 {
  position: absolute;
  top: 407px;
  left: 0;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon23,
.f-329664531-ypxyypt3cgs8knhskq-icon24 {
  top: 1545px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon24 {
  top: 1789px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon25,
.f-329664531-ypxyypt3cgs8knhskq-icon26,
.f-329664531-ypxyypt3cgs8knhskq-icon27 {
  position: absolute;
  top: 2438px;
  left: 0;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon26,
.f-329664531-ypxyypt3cgs8knhskq-icon27 {
  top: 813px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon27 {
  top: 1058px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon28,
.f-329664531-ypxyypt3cgs8knhskq-icon29 {
  position: absolute;
  top: 1301px;
  left: 0;
  width: 86px;
  height: 81px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon29 {
  top: 488px;
  height: 82px;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon30,
.f-329664531-ypxyypt3cgs8knhskq-icon31,
.f-329664531-ypxyypt3cgs8knhskq-icon32 {
  position: absolute;
  top: 244px;
  left: 0;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon31,
.f-329664531-ypxyypt3cgs8knhskq-icon32 {
  top: 570px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon32 {
  top: 0;
  left: 86px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon33,
.f-329664531-ypxyypt3cgs8knhskq-icon34,
.f-329664531-ypxyypt3cgs8knhskq-icon35 {
  position: absolute;
  top: 1382px;
  left: 86px;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon34,
.f-329664531-ypxyypt3cgs8knhskq-icon35 {
  top: 1627px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon35 {
  top: 2275px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon36,
.f-329664531-ypxyypt3cgs8knhskq-icon37,
.f-329664531-ypxyypt3cgs8knhskq-icon38 {
  position: absolute;
  top: 651px;
  left: 86px;
  width: 86px;
  height: 80px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon37,
.f-329664531-ypxyypt3cgs8knhskq-icon38 {
  top: 895px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon38 {
  top: 1139px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon39,
.f-329664531-ypxyypt3cgs8knhskq-icon40,
.f-329664531-ypxyypt3cgs8knhskq-icon41 {
  position: absolute;
  top: 326px;
  left: 86px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon40,
.f-329664531-ypxyypt3cgs8knhskq-icon41 {
  top: 81px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon41 {
  top: 1464px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon42,
.f-329664531-ypxyypt3cgs8knhskq-icon43,
.f-329664531-ypxyypt3cgs8knhskq-icon44 {
  position: absolute;
  top: 1708px;
  left: 86px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon43,
.f-329664531-ypxyypt3cgs8knhskq-icon44 {
  top: 2357px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon44 {
  top: 731px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon45 {
  position: absolute;
  top: 975px;
  left: 86px;
  width: 86px;
  height: 83px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon46,
.f-329664531-ypxyypt3cgs8knhskq-icon47,
.f-329664531-ypxyypt3cgs8knhskq-icon48 {
  position: absolute;
  top: 1220px;
  left: 86px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon47,
.f-329664531-ypxyypt3cgs8knhskq-icon48 {
  top: 407px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon48 {
  top: 163px;
  left: 0;
}
.f-329664531-ypxyypt3cgs8knhskq-icon49,
.f-329664531-ypxyypt3cgs8knhskq-icon50,
.f-329664531-ypxyypt3cgs8knhskq-icon51 {
  position: absolute;
  top: 163px;
  left: 86px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon50,
.f-329664531-ypxyypt3cgs8knhskq-icon51 {
  top: 1545px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon51 {
  top: 1789px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon52,
.f-329664531-ypxyypt3cgs8knhskq-icon53,
.f-329664531-ypxyypt3cgs8knhskq-icon54 {
  position: absolute;
  top: 2438px;
  left: 86px;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon53,
.f-329664531-ypxyypt3cgs8knhskq-icon54 {
  top: 813px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon54 {
  top: 1058px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon55,
.f-329664531-ypxyypt3cgs8knhskq-icon56,
.f-329664531-ypxyypt3cgs8knhskq-icon57 {
  position: absolute;
  top: 1301px;
  left: 86px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon56,
.f-329664531-ypxyypt3cgs8knhskq-icon57 {
  top: 488px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon57 {
  top: 244px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon58 {
  position: absolute;
  top: 570px;
  left: 86px;
  width: 86px;
  height: 81px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon59,
.f-329664531-ypxyypt3cgs8knhskq-icon60,
.f-329664531-ypxyypt3cgs8knhskq-icon61 {
  position: absolute;
  top: 0;
  left: 172px;
  width: 85px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon60,
.f-329664531-ypxyypt3cgs8knhskq-icon61 {
  top: 1382px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon61 {
  top: 1627px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon62,
.f-329664531-ypxyypt3cgs8knhskq-icon63,
.f-329664531-ypxyypt3cgs8knhskq-icon64 {
  position: absolute;
  top: 2275px;
  left: 172px;
  width: 85px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon63,
.f-329664531-ypxyypt3cgs8knhskq-icon64 {
  top: 2194px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon64 {
  top: 651px;
  height: 80px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon65,
.f-329664531-ypxyypt3cgs8knhskq-icon66,
.f-329664531-ypxyypt3cgs8knhskq-icon67 {
  position: absolute;
  top: 895px;
  left: 172px;
  width: 85px;
  height: 80px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon66,
.f-329664531-ypxyypt3cgs8knhskq-icon67 {
  top: 1139px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon67 {
  top: 326px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon68,
.f-329664531-ypxyypt3cgs8knhskq-icon69,
.f-329664531-ypxyypt3cgs8knhskq-icon70 {
  position: absolute;
  top: 81px;
  left: 172px;
  width: 85px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon69,
.f-329664531-ypxyypt3cgs8knhskq-icon70 {
  top: 1464px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon70 {
  top: 1708px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon71,
.f-329664531-ypxyypt3cgs8knhskq-icon72,
.f-329664531-ypxyypt3cgs8knhskq-icon73 {
  position: absolute;
  top: 2357px;
  left: 172px;
  width: 85px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon72,
.f-329664531-ypxyypt3cgs8knhskq-icon73 {
  top: 731px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon73 {
  top: 975px;
  height: 83px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon74,
.f-329664531-ypxyypt3cgs8knhskq-icon75,
.f-329664531-ypxyypt3cgs8knhskq-icon76 {
  position: absolute;
  top: 1220px;
  left: 172px;
  width: 85px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon75,
.f-329664531-ypxyypt3cgs8knhskq-icon76 {
  top: 407px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon76 {
  top: 163px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon77,
.f-329664531-ypxyypt3cgs8knhskq-icon78,
.f-329664531-ypxyypt3cgs8knhskq-icon79 {
  position: absolute;
  top: 1545px;
  left: 172px;
  width: 85px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon78,
.f-329664531-ypxyypt3cgs8knhskq-icon79 {
  top: 1789px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon79 {
  top: 2438px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon80,
.f-329664531-ypxyypt3cgs8knhskq-icon81,
.f-329664531-ypxyypt3cgs8knhskq-icon82 {
  position: absolute;
  top: 813px;
  left: 172px;
  width: 85px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon81,
.f-329664531-ypxyypt3cgs8knhskq-icon82 {
  top: 1058px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon82 {
  top: 1301px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon83,
.f-329664531-ypxyypt3cgs8knhskq-icon84,
.f-329664531-ypxyypt3cgs8knhskq-icon85 {
  position: absolute;
  top: 488px;
  left: 172px;
  width: 85px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon84,
.f-329664531-ypxyypt3cgs8knhskq-icon85 {
  top: 244px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon85 {
  top: 570px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon86,
.f-329664531-ypxyypt3cgs8knhskq-icon87,
.f-329664531-ypxyypt3cgs8knhskq-icon88 {
  position: absolute;
  top: 0;
  left: 257px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon87,
.f-329664531-ypxyypt3cgs8knhskq-icon88 {
  top: 1382px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon88 {
  top: 1627px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon89,
.f-329664531-ypxyypt3cgs8knhskq-icon90,
.f-329664531-ypxyypt3cgs8knhskq-icon91 {
  position: absolute;
  top: 2275px;
  left: 257px;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon90,
.f-329664531-ypxyypt3cgs8knhskq-icon91 {
  top: 2357px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon91 {
  top: 2438px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon92,
.f-329664531-ypxyypt3cgs8knhskq-icon93,
.f-329664531-ypxyypt3cgs8knhskq-icon94 {
  position: absolute;
  top: 2194px;
  left: 257px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon93,
.f-329664531-ypxyypt3cgs8knhskq-icon94 {
  top: 651px;
  height: 80px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon94 {
  top: 895px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon95,
.f-329664531-ypxyypt3cgs8knhskq-icon96,
.f-329664531-ypxyypt3cgs8knhskq-icon97 {
  position: absolute;
  top: 1139px;
  left: 257px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon96,
.f-329664531-ypxyypt3cgs8knhskq-icon97 {
  top: 326px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon97 {
  top: 81px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon98 {
  position: absolute;
  top: 1464px;
  left: 257px;
  width: 86px;
  height: 81px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon100,
.f-329664531-ypxyypt3cgs8knhskq-icon99 {
  position: absolute;
  top: 1708px;
  left: 257px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon100 {
  top: 731px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon101,
.f-329664531-ypxyypt3cgs8knhskq-icon102,
.f-329664531-ypxyypt3cgs8knhskq-icon103 {
  position: absolute;
  top: 975px;
  left: 257px;
  width: 86px;
  height: 83px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon102,
.f-329664531-ypxyypt3cgs8knhskq-icon103 {
  top: 1220px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon103 {
  top: 407px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon104,
.f-329664531-ypxyypt3cgs8knhskq-icon105,
.f-329664531-ypxyypt3cgs8knhskq-icon106 {
  position: absolute;
  top: 163px;
  left: 257px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon105,
.f-329664531-ypxyypt3cgs8knhskq-icon106 {
  top: 1545px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon106 {
  top: 1789px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon107 {
  position: absolute;
  top: 813px;
  left: 257px;
  width: 86px;
  height: 82px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon108,
.f-329664531-ypxyypt3cgs8knhskq-icon109 {
  position: absolute;
  top: 1058px;
  left: 257px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon109 {
  top: 1301px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon110,
.f-329664531-ypxyypt3cgs8knhskq-icon111,
.f-329664531-ypxyypt3cgs8knhskq-icon112 {
  position: absolute;
  top: 488px;
  left: 257px;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon111,
.f-329664531-ypxyypt3cgs8knhskq-icon112 {
  top: 244px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon112 {
  top: 570px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon113,
.f-329664531-ypxyypt3cgs8knhskq-icon114,
.f-329664531-ypxyypt3cgs8knhskq-icon115 {
  position: absolute;
  top: 0;
  left: 343px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon114,
.f-329664531-ypxyypt3cgs8knhskq-icon115 {
  top: 1382px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon115 {
  top: 1627px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon116,
.f-329664531-ypxyypt3cgs8knhskq-icon117,
.f-329664531-ypxyypt3cgs8knhskq-icon118 {
  position: absolute;
  top: 2275px;
  left: 343px;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon117,
.f-329664531-ypxyypt3cgs8knhskq-icon118 {
  top: 651px;
  height: 80px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon118 {
  top: 895px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon119 {
  position: absolute;
  top: 1139px;
  left: 343px;
  width: 86px;
  height: 81px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon120,
.f-329664531-ypxyypt3cgs8knhskq-icon121 {
  position: absolute;
  top: 326px;
  left: 343px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon121 {
  top: 81px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon122,
.f-329664531-ypxyypt3cgs8knhskq-icon123,
.f-329664531-ypxyypt3cgs8knhskq-icon124 {
  position: absolute;
  top: 1464px;
  left: 343px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon123,
.f-329664531-ypxyypt3cgs8knhskq-icon124 {
  top: 1708px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon124 {
  top: 2357px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon125,
.f-329664531-ypxyypt3cgs8knhskq-icon126,
.f-329664531-ypxyypt3cgs8knhskq-icon127 {
  position: absolute;
  top: 731px;
  left: 343px;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon126,
.f-329664531-ypxyypt3cgs8knhskq-icon127 {
  top: 975px;
  height: 83px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon127 {
  top: 1220px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon128 {
  position: absolute;
  top: 407px;
  left: 343px;
  width: 86px;
  height: 81px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon129,
.f-329664531-ypxyypt3cgs8knhskq-icon130,
.f-329664531-ypxyypt3cgs8knhskq-icon131 {
  position: absolute;
  top: 163px;
  left: 343px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon130,
.f-329664531-ypxyypt3cgs8knhskq-icon131 {
  top: 1545px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon131 {
  top: 1789px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon132,
.f-329664531-ypxyypt3cgs8knhskq-icon133,
.f-329664531-ypxyypt3cgs8knhskq-icon134 {
  position: absolute;
  top: 2438px;
  left: 343px;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon133,
.f-329664531-ypxyypt3cgs8knhskq-icon134 {
  top: 813px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon134 {
  top: 1058px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon135,
.f-329664531-ypxyypt3cgs8knhskq-icon136,
.f-329664531-ypxyypt3cgs8knhskq-icon137 {
  position: absolute;
  top: 1301px;
  left: 343px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon136,
.f-329664531-ypxyypt3cgs8knhskq-icon137 {
  top: 488px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon137 {
  top: 570px;
  height: 81px;
}
.button-div {
  position: absolute;
  top: 40px;
  left: 148px;
  border-radius: var(--br-md);
  background-color: var(--color-blue-200);
  width: 128px;
  height: 28px;
  opacity: 0.65;
  cursor: pointer;
}
.harmonic-collection-div {
  position: absolute;
  top: 48px;
  left: 158px;
  font-size: var(--font-size-2xs);
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 114px;
  height: 8px;
}
.line-div {
  position: absolute;
  top: 185.5px;
  left: 83.5px;
  border-top: 5px solid var(--color-fuchsia-200);
  box-sizing: border-box;
  width: 195px;
  height: 5px;
}
.follow-the-moving-dot,
.rabbit-or-bird {
  position: absolute;
  top: 668px;
  left: 76px;
  font-weight: 500;
  display: inline-block;
  width: 101px;
  height: 93px;
}
.rabbit-or-bird {
  top: 1099px;
  left: 243px;
  width: 86px;
  height: 6px;
}
.stare-at-the-moving-image-for,
.watch-carefully {
  position: absolute;
  top: 1980px;
  left: 73px;
  display: inline-block;
  width: 98px;
  height: 185px;
}
.watch-carefully {
  top: 2403px;
  left: 276px;
  color: var(--color-gray-100);
  width: 87px;
  height: 7px;
}
.disappearing-dot-1-icon {
  position: absolute;
  top: 809px;
  left: 180.5px;
  width: 194.5px;
  height: 141px;
  background-image: url(./public/disappearingdot1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.have-you-been-deceived-yet,
.if-not-continue-on-for-more-de {
  position: absolute;
  top: 1464px;
  left: 66px;
  display: inline-block;
  width: 102px;
  height: 81px;
}
.if-not-continue-on-for-more-de {
  top: 1667px;
  left: 278px;
  width: 86px;
  height: 152px;
}
.rectangle-div {
  position: absolute;
  top: 860px;
  left: 70px;
  background-color: var(--color-blue-100);
  width: 118px;
  height: 180px;
}
.rectangle-div1,
.rectangle-div2,
.rectangle-div3,
.rectangle-div4 {
  position: absolute;
  top: 1246px;
  left: 238px;
  background-color: var(--color-blue-100);
  width: 97px;
  height: 81px;
}
.rectangle-div2,
.rectangle-div3,
.rectangle-div4 {
  top: 2264px;
  left: 61px;
  width: 106px;
  height: 51px;
}
.rectangle-div3,
.rectangle-div4 {
  top: 2572px;
  left: 245px;
  width: 121px;
  height: 84px;
}
.rectangle-div4 {
  top: 193px;
  left: 86px;
  border-top: 0 solid var(--color-fuchsia-100);
  border-right: 5px solid var(--color-fuchsia-100);
  border-bottom: 0 solid var(--color-fuchsia-100);
  border-left: 0 solid var(--color-fuchsia-100);
  box-sizing: border-box;
  width: 284px;
  height: 40px;
}
.focus-on-the-plus-sign-in-the {
  position: absolute;
  top: 863px;
  left: 76px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 88px;
  height: 32px;
}
.i-see {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.illusions {
  letter-spacing: 0.1em;
  font-weight: 700;
}
.illusions-p {
  margin: 0;
  color: var(--color-fuchsia-100);
}
.i-see-illusions {
  position: absolute;
  top: 140px;
  left: 90px;
  font-size: 32px;
  display: inline-block;
  width: 320px;
  height: 160px;
}
.at-first-glance-did-you-see-a,
.can-you-see-it-moving,
.which-way-are-they-spinning-t {
  position: absolute;
  top: 1247px;
  left: 243px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 88px;
  height: 9px;
}
.can-you-see-it-moving,
.which-way-are-they-spinning-t {
  top: 2267px;
  left: 67px;
  width: 87px;
}
.which-way-are-they-spinning-t {
  top: 2579px;
  left: 269px;
  width: 88px;
  height: 65px;
}
.top-div {
  position: absolute;
  top: calc(50% - 2190.5px);
  left: calc(50% - 32px);
  font-size: var(--font-size-sm);
  font-weight: 800;
  text-align: center;
  display: inline-block;
  width: 63px;
  height: 11px;
}
.line-icon,
.line-icon1 {
  position: absolute;
  top: calc(50% - 2189.5px);
  left: calc(50% - 5px);
  width: 6.29px;
  height: 0;
}
.line-icon1 {
  left: calc(50% + 4.23px);
}
.rectangle-div5 {
  position: absolute;
  top: 2717px;
  left: 175px;
  border-radius: var(--br-sm);
  background-color: var(--color-blue-100);
  box-shadow: 0 4px 4px #ff09f6;
  width: 78px;
  height: 33px;
}
.top-div1 {
  position: absolute;
  top: calc(50% + 1451.5px);
  left: calc(50% - 37px);
  font-size: var(--font-size-sm);
  font-weight: 800;
  text-align: center;
  display: inline-block;
  width: 117px;
  height: 22px;
}
.line-icon2,
.line-icon3 {
  position: absolute;
  top: calc(50% + 1452.48px);
  left: calc(50% + 14.11px);
  width: 10.1px;
  height: 0;
}
.line-icon3 {
  left: calc(50% + 28.75px);
}
.f-329664531-ypxyypt3cgs8knhskq-icon138 {
  position: absolute;
  top: 2033px;
  left: 0;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon139,
.f-329664531-ypxyypt3cgs8knhskq-icon140 {
  position: absolute;
  top: 2195px;
  left: 0;
  width: 86px;
  height: 80px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon140 {
  left: 86px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon141,
.f-329664531-ypxyypt3cgs8knhskq-icon142 {
  position: absolute;
  top: 1871px;
  left: 0;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon142 {
  top: 2520px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon143,
.f-329664531-ypxyypt3cgs8knhskq-icon144,
.f-329664531-ypxyypt3cgs8knhskq-icon145 {
  position: absolute;
  top: 1952px;
  left: 0;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon144,
.f-329664531-ypxyypt3cgs8knhskq-icon145 {
  top: 2114px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon145 {
  top: 2033px;
  left: 86px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon146,
.f-329664531-ypxyypt3cgs8knhskq-icon147,
.f-329664531-ypxyypt3cgs8knhskq-icon148 {
  position: absolute;
  top: 1871px;
  left: 86px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon147,
.f-329664531-ypxyypt3cgs8knhskq-icon148 {
  top: 2520px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon148 {
  top: 2033px;
  left: 172px;
  width: 85px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon149 {
  position: absolute;
  top: 1871px;
  left: 172px;
  width: 85px;
  height: 81px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon150,
.f-329664531-ypxyypt3cgs8knhskq-icon151,
.f-329664531-ypxyypt3cgs8knhskq-icon152 {
  position: absolute;
  top: 1952px;
  left: 172px;
  width: 85px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon151,
.f-329664531-ypxyypt3cgs8knhskq-icon152 {
  top: 2114px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon152 {
  top: 2033px;
  left: 257px;
  width: 86px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon153,
.f-329664531-ypxyypt3cgs8knhskq-icon154,
.f-329664531-ypxyypt3cgs8knhskq-icon155 {
  position: absolute;
  top: 1871px;
  left: 257px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon154,
.f-329664531-ypxyypt3cgs8knhskq-icon155 {
  top: 1952px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon155 {
  top: 2114px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon156,
.f-329664531-ypxyypt3cgs8knhskq-icon157,
.f-329664531-ypxyypt3cgs8knhskq-icon158 {
  position: absolute;
  top: 2033px;
  left: 343px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon157,
.f-329664531-ypxyypt3cgs8knhskq-icon158 {
  top: 2195px;
  height: 80px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon158 {
  top: 1871px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon159,
.f-329664531-ypxyypt3cgs8knhskq-icon160,
.f-329664531-ypxyypt3cgs8knhskq-icon161 {
  position: absolute;
  top: 2520px;
  left: 343px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon160,
.f-329664531-ypxyypt3cgs8knhskq-icon161 {
  top: 1952px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon161 {
  top: 2114px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon162,
.f-329664531-ypxyypt3cgs8knhskq-icon163 {
  position: absolute;
  top: 2601px;
  left: 0;
  width: 86px;
  height: 80px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon163 {
  top: 2681px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon164,
.f-329664531-ypxyypt3cgs8knhskq-icon165 {
  position: absolute;
  top: 2763px;
  left: 0;
  width: 86px;
  height: 81px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon165 {
  top: 2601px;
  left: 86px;
  height: 80px;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon166,
.f-329664531-ypxyypt3cgs8knhskq-icon167,
.f-329664531-ypxyypt3cgs8knhskq-icon168 {
  position: absolute;
  top: 2763px;
  left: 86px;
  width: 86px;
  height: 81px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon167,
.f-329664531-ypxyypt3cgs8knhskq-icon168 {
  top: 2681px;
  height: 82px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon168 {
  top: 2763px;
  left: 172px;
  width: 85px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon169,
.f-329664531-ypxyypt3cgs8knhskq-icon170 {
  position: absolute;
  top: 2681px;
  left: 257px;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon170 {
  top: 2763px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon171,
.f-329664531-ypxyypt3cgs8knhskq-icon172,
.f-329664531-ypxyypt3cgs8knhskq-icon173 {
  position: absolute;
  top: 2681px;
  left: 343px;
  width: 86px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon172,
.f-329664531-ypxyypt3cgs8knhskq-icon173 {
  top: 2600px;
  height: 81px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon173 {
  top: 2763px;
}
.top-div2 {
  position: absolute;
  top: calc(50% + 1308.45px);
  left: calc(50% - 54px);
  font-size: var(--font-size-sm);
  font-weight: 800;
  text-align: center;
  display: inline-block;
  width: 106px;
  height: 20px;
}
.line-icon4,
.line-icon5 {
  position: absolute;
  top: calc(50% + 1303.13px);
  left: calc(50% - 8.29px);
  width: 8.24px;
  height: 5.56px;
}
.line-icon5 {
  left: calc(50% - 1.97px);
}
.f-329664531-ypxyypt3cgs8knhskq-icon174 {
  position: absolute;
  top: 2681px;
  left: 172px;
  width: 85px;
  height: 82px;
  object-fit: cover;
  mix-blend-mode: soft-light;
  cursor: pointer;
}
.stewart11-1-icon,
.vm-1-icon {
  position: absolute;
  top: 2016px;
  left: 179px;
  width: 190px;
  height: 251px;
  background-image: url(./public/48vm1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.stewart11-1-icon {
  top: 2537px;
  left: 65px;
  width: 192px;
  height: 81px;
  background-image: url(./public/stewart111@3x.png);
}
.download-1-icon {
  position: absolute;
  top: 1193px;
  left: 94px;
  width: 137px;
  height: 98px;
  object-fit: cover;
}
.iphone-14-pro {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 2837px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-jetbrains-mono);
}
