body {
  margin: 0;
  line-height: normal;
}
.f-329664531-ypxyypt3cgs8knhskq-icon405 {
  position: absolute;
  top: 720px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.macbook-pro-16-22 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1728px;
  height: 1117px;
  overflow-y: auto;
}
.f-329664531-ypxyypt3cgs8knhskq-icon406,
.f-329664531-ypxyypt3cgs8knhskq-icon407 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon407 {
  top: 6120px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon408 {
  position: absolute;
  top: 7200px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon409,
.f-329664531-ypxyypt3cgs8knhskq-icon410,
.f-329664531-ypxyypt3cgs8knhskq-icon411 {
  position: absolute;
  top: 2880px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon410,
.f-329664531-ypxyypt3cgs8knhskq-icon411 {
  top: 3960px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon411 {
  top: 5040px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon412,
.f-329664531-ypxyypt3cgs8knhskq-icon413,
.f-329664531-ypxyypt3cgs8knhskq-icon414 {
  position: absolute;
  top: 1440px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon413,
.f-329664531-ypxyypt3cgs8knhskq-icon414 {
  top: 360px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon414 {
  top: 6480px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon415,
.f-329664531-ypxyypt3cgs8knhskq-icon416,
.f-329664531-ypxyypt3cgs8knhskq-icon417 {
  position: absolute;
  top: 7560px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon416,
.f-329664531-ypxyypt3cgs8knhskq-icon417 {
  top: 3240px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon417 {
  top: 4320px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon418,
.f-329664531-ypxyypt3cgs8knhskq-icon419,
.f-329664531-ypxyypt3cgs8knhskq-icon420 {
  position: absolute;
  top: 5400px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon419,
.f-329664531-ypxyypt3cgs8knhskq-icon420 {
  top: 1800px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon420 {
  top: 6840px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon421,
.f-329664531-ypxyypt3cgs8knhskq-icon422,
.f-329664531-ypxyypt3cgs8knhskq-icon423 {
  position: absolute;
  top: 7920px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon422,
.f-329664531-ypxyypt3cgs8knhskq-icon423 {
  top: 3600px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon423 {
  top: 4680px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon424 {
  position: absolute;
  top: 5760px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon425,
.f-329664531-ypxyypt3cgs8knhskq-icon426 {
  position: absolute;
  top: 2160px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon426 {
  top: 1080px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon427,
.f-329664531-ypxyypt3cgs8knhskq-icon428,
.f-329664531-ypxyypt3cgs8knhskq-icon429 {
  position: absolute;
  top: 2520px;
  left: 0;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon428,
.f-329664531-ypxyypt3cgs8knhskq-icon429 {
  top: 0;
  left: 360px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon429 {
  top: 6120px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon430,
.f-329664531-ypxyypt3cgs8knhskq-icon431,
.f-329664531-ypxyypt3cgs8knhskq-icon432 {
  position: absolute;
  top: 7200px;
  left: 360px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon431,
.f-329664531-ypxyypt3cgs8knhskq-icon432 {
  top: 2880px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon432 {
  top: 3960px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon433,
.f-329664531-ypxyypt3cgs8knhskq-icon434,
.f-329664531-ypxyypt3cgs8knhskq-icon435 {
  position: absolute;
  top: 5040px;
  left: 360px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon434,
.f-329664531-ypxyypt3cgs8knhskq-icon435 {
  top: 1440px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon435 {
  top: 360px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon436,
.f-329664531-ypxyypt3cgs8knhskq-icon437,
.f-329664531-ypxyypt3cgs8knhskq-icon438 {
  position: absolute;
  top: 6480px;
  left: 360px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon437,
.f-329664531-ypxyypt3cgs8knhskq-icon438 {
  top: 7560px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon438 {
  top: 3240px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon439,
.f-329664531-ypxyypt3cgs8knhskq-icon440 {
  position: absolute;
  top: 4320px;
  left: 360px;
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon440 {
  top: 5400px;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon441,
.f-329664531-ypxyypt3cgs8knhskq-icon442,
.f-329664531-ypxyypt3cgs8knhskq-icon443 {
  position: absolute;
  top: 1800px;
  left: 360px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon442,
.f-329664531-ypxyypt3cgs8knhskq-icon443 {
  top: 720px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon443 {
  top: 6840px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon444,
.f-329664531-ypxyypt3cgs8knhskq-icon445,
.f-329664531-ypxyypt3cgs8knhskq-icon446 {
  position: absolute;
  top: 7920px;
  left: 360px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon445,
.f-329664531-ypxyypt3cgs8knhskq-icon446 {
  top: 3600px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon446 {
  top: 4680px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon447,
.f-329664531-ypxyypt3cgs8knhskq-icon448,
.f-329664531-ypxyypt3cgs8knhskq-icon449 {
  position: absolute;
  top: 5760px;
  left: 360px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon448,
.f-329664531-ypxyypt3cgs8knhskq-icon449 {
  top: 2160px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon449 {
  top: 1080px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon450 {
  position: absolute;
  top: 2520px;
  left: 360px;
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon451,
.f-329664531-ypxyypt3cgs8knhskq-icon452,
.f-329664531-ypxyypt3cgs8knhskq-icon453 {
  position: absolute;
  top: 0;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon452,
.f-329664531-ypxyypt3cgs8knhskq-icon453 {
  top: 6120px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon453 {
  top: 7200px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon454,
.f-329664531-ypxyypt3cgs8knhskq-icon455,
.f-329664531-ypxyypt3cgs8knhskq-icon456 {
  position: absolute;
  top: 2880px;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon455,
.f-329664531-ypxyypt3cgs8knhskq-icon456 {
  top: 3960px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon456 {
  top: 5040px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon457 {
  position: absolute;
  top: 1440px;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon458,
.f-329664531-ypxyypt3cgs8knhskq-icon459,
.f-329664531-ypxyypt3cgs8knhskq-icon460 {
  position: absolute;
  top: 360px;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon459,
.f-329664531-ypxyypt3cgs8knhskq-icon460 {
  top: 6480px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon460 {
  top: 7560px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon461,
.f-329664531-ypxyypt3cgs8knhskq-icon462,
.f-329664531-ypxyypt3cgs8knhskq-icon463 {
  position: absolute;
  top: 3240px;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon462,
.f-329664531-ypxyypt3cgs8knhskq-icon463 {
  top: 4320px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon463 {
  top: 5400px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon464 {
  position: absolute;
  top: 1800px;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon465,
.f-329664531-ypxyypt3cgs8knhskq-icon466 {
  position: absolute;
  top: 720px;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon466 {
  top: 6840px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon467,
.f-329664531-ypxyypt3cgs8knhskq-icon468,
.f-329664531-ypxyypt3cgs8knhskq-icon469 {
  position: absolute;
  top: 7920px;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon468,
.f-329664531-ypxyypt3cgs8knhskq-icon469 {
  top: 3600px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon469 {
  top: 4680px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon470,
.f-329664531-ypxyypt3cgs8knhskq-icon471,
.f-329664531-ypxyypt3cgs8knhskq-icon472 {
  position: absolute;
  top: 5760px;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon471,
.f-329664531-ypxyypt3cgs8knhskq-icon472 {
  top: 2160px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon472 {
  top: 1080px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon473,
.f-329664531-ypxyypt3cgs8knhskq-icon474,
.f-329664531-ypxyypt3cgs8knhskq-icon475 {
  position: absolute;
  top: 2520px;
  left: 721px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon474,
.f-329664531-ypxyypt3cgs8knhskq-icon475 {
  top: 0;
  left: 1081px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon475 {
  top: 6120px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon476,
.f-329664531-ypxyypt3cgs8knhskq-icon477,
.f-329664531-ypxyypt3cgs8knhskq-icon478 {
  position: absolute;
  top: 7200px;
  left: 1081px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon477,
.f-329664531-ypxyypt3cgs8knhskq-icon478 {
  top: 2880px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon478 {
  top: 3960px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon479,
.f-329664531-ypxyypt3cgs8knhskq-icon480,
.f-329664531-ypxyypt3cgs8knhskq-icon481 {
  position: absolute;
  top: 5040px;
  left: 1081px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon480,
.f-329664531-ypxyypt3cgs8knhskq-icon481 {
  top: 1440px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon481 {
  top: 360px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon482,
.f-329664531-ypxyypt3cgs8knhskq-icon483,
.f-329664531-ypxyypt3cgs8knhskq-icon484 {
  position: absolute;
  top: 6480px;
  left: 1081px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon483,
.f-329664531-ypxyypt3cgs8knhskq-icon484 {
  top: 7560px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon484 {
  top: 3240px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon485,
.f-329664531-ypxyypt3cgs8knhskq-icon486,
.f-329664531-ypxyypt3cgs8knhskq-icon487 {
  position: absolute;
  top: 4320px;
  left: 1081px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon486,
.f-329664531-ypxyypt3cgs8knhskq-icon487 {
  top: 5400px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon487 {
  top: 1800px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon488,
.f-329664531-ypxyypt3cgs8knhskq-icon489,
.f-329664531-ypxyypt3cgs8knhskq-icon490 {
  position: absolute;
  top: 720px;
  left: 1081px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon489,
.f-329664531-ypxyypt3cgs8knhskq-icon490 {
  top: 6840px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon490 {
  top: 7920px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon491,
.f-329664531-ypxyypt3cgs8knhskq-icon492 {
  position: absolute;
  top: 3600px;
  left: 1081px;
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon492 {
  top: 4680px;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon493,
.f-329664531-ypxyypt3cgs8knhskq-icon494,
.f-329664531-ypxyypt3cgs8knhskq-icon495 {
  position: absolute;
  top: 5760px;
  left: 1081px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon494,
.f-329664531-ypxyypt3cgs8knhskq-icon495 {
  top: 2160px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon495 {
  top: 1080px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon496,
.f-329664531-ypxyypt3cgs8knhskq-icon497,
.f-329664531-ypxyypt3cgs8knhskq-icon498 {
  position: absolute;
  top: 2520px;
  left: 1081px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon497,
.f-329664531-ypxyypt3cgs8knhskq-icon498 {
  top: 0;
  left: 1441px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon498 {
  top: 6120px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon499,
.f-329664531-ypxyypt3cgs8knhskq-icon500,
.f-329664531-ypxyypt3cgs8knhskq-icon501 {
  position: absolute;
  top: 7200px;
  left: 1441px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon500,
.f-329664531-ypxyypt3cgs8knhskq-icon501 {
  top: 2880px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon501 {
  top: 3960px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon502 {
  position: absolute;
  top: 5040px;
  left: 1441px;
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon503,
.f-329664531-ypxyypt3cgs8knhskq-icon504,
.f-329664531-ypxyypt3cgs8knhskq-icon505 {
  position: absolute;
  top: 1440px;
  left: 1441px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon504,
.f-329664531-ypxyypt3cgs8knhskq-icon505 {
  top: 360px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon505 {
  top: 6480px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon506,
.f-329664531-ypxyypt3cgs8knhskq-icon507,
.f-329664531-ypxyypt3cgs8knhskq-icon508 {
  position: absolute;
  top: 7560px;
  left: 1441px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon507,
.f-329664531-ypxyypt3cgs8knhskq-icon508 {
  top: 3240px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon508 {
  top: 4320px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon509,
.f-329664531-ypxyypt3cgs8knhskq-icon510,
.f-329664531-ypxyypt3cgs8knhskq-icon511 {
  position: absolute;
  top: 5400px;
  left: 1441px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon510,
.f-329664531-ypxyypt3cgs8knhskq-icon511 {
  top: 1800px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon511 {
  top: 720px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon512,
.f-329664531-ypxyypt3cgs8knhskq-icon513,
.f-329664531-ypxyypt3cgs8knhskq-icon514 {
  position: absolute;
  top: 6840px;
  left: 1441px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon513,
.f-329664531-ypxyypt3cgs8knhskq-icon514 {
  top: 7920px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon514 {
  top: 3600px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon515,
.f-329664531-ypxyypt3cgs8knhskq-icon516,
.f-329664531-ypxyypt3cgs8knhskq-icon517 {
  position: absolute;
  top: 4680px;
  left: 1441px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.f-329664531-ypxyypt3cgs8knhskq-icon516,
.f-329664531-ypxyypt3cgs8knhskq-icon517 {
  top: 5760px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon517 {
  top: 2160px;
}
.f-329664531-ypxyypt3cgs8knhskq-icon518,
.f-329664531-ypxyypt3cgs8knhskq-icon519 {
  position: absolute;
  top: 1080px;
  left: 1441px;
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.f-329664531-ypxyypt3cgs8knhskq-icon519 {
  top: 2520px;
  mix-blend-mode: soft-light;
}
.button-div3 {
  position: absolute;
  top: 77px;
  left: 72px;
  border-radius: var(--br-md);
  background-color: var(--color-blue-200);
  width: 235px;
  height: 52px;
  opacity: 0.65;
  cursor: pointer;
}
.harmonic-collection-div3 {
  position: absolute;
  top: 93px;
  left: 100px;
  font-size: var(--font-size-base);
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 186px;
  height: 20px;
}
.line-div3 {
  position: absolute;
  top: 376.5px;
  left: 357.5px;
  border-top: 5px solid var(--color-fuchsia-200);
  box-sizing: border-box;
  width: 362px;
  height: 5px;
}
.follow-the-moving-dot3,
.rabbit-or-bird4 {
  position: absolute;
  top: 1363px;
  left: 181px;
  font-weight: 500;
  display: inline-block;
  width: 362px;
  height: 28px;
}
.rabbit-or-bird4 {
  top: 2520px;
  left: 1081px;
}
.stare-at-the-moving-image-for3 {
  position: absolute;
  top: 5220px;
  left: 180px;
  display: inline-block;
  width: 411px;
  height: 91px;
}
.rabbit-or-bird5,
.watch-carefully3 {
  position: absolute;
  display: inline-block;
  width: 362px;
  height: 28px;
}
.rabbit-or-bird5 {
  top: 2078px;
  left: 1164px;
  font-weight: 500;
}
.watch-carefully3 {
  top: 6940px;
  left: 1056px;
  color: var(--color-gray-100);
}
.disappearing-dot-1-icon3,
.vm-1-icon3 {
  position: absolute;
  top: 1536px;
  left: 628.5px;
  width: 803.5px;
  height: 623px;
  background-image: url(./public/disappearingdot13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vm-1-icon3 {
  top: 5380px;
  left: 621px;
  width: 801px;
  height: 1110px;
  background-image: url(./public/48vm13@3x.png);
}
.download-1-icon3 {
  position: absolute;
  top: 2734px;
  left: 284px;
  width: 580px;
  height: 434px;
  object-fit: cover;
}
.have-you-been-deceived-yet3,
.if-not-continue-on-for-more-de3 {
  position: absolute;
  top: 3551px;
  left: 181px;
  display: inline-block;
  width: 422px;
  height: 33px;
}
.if-not-continue-on-for-more-de3 {
  top: 4449px;
  left: 1066px;
  width: 366px;
  height: 58px;
}
.stewart11-1-icon3 {
  position: absolute;
  top: 7172px;
  left: 173px;
  width: 801px;
  height: 356px;
  background-image: url(./public/stewart1113@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-div18,
.rectangle-div19,
.rectangle-div20,
.rectangle-div21,
.rectangle-div22 {
  position: absolute;
  top: 1734px;
  left: 165px;
  background-color: var(--color-blue-100);
  width: 494px;
  height: 208px;
}
.rectangle-div19,
.rectangle-div20,
.rectangle-div21,
.rectangle-div22 {
  top: 2916px;
  left: 901px;
}
.rectangle-div20,
.rectangle-div21,
.rectangle-div22 {
  top: 6448px;
  left: 137px;
  width: 465px;
  height: 101px;
}
.rectangle-div21,
.rectangle-div22 {
  top: 7490px;
  left: 956px;
  width: 506px;
  height: 139px;
}
.rectangle-div22 {
  top: 434px;
  left: 360px;
  border-top: 0 solid var(--color-fuchsia-100);
  border-right: 5px solid var(--color-fuchsia-100);
  border-bottom: 0 solid var(--color-fuchsia-100);
  border-left: 0 solid var(--color-fuchsia-100);
  box-sizing: border-box;
  width: 1081px;
  height: 158px;
}
.focus-on-the-plus-sign-in-the3 {
  position: absolute;
  top: 1780px;
  left: 181px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 366px;
  height: 136px;
}
.i-see3 {
  margin-block-start: 0;
  margin-block-end: 25px;
}
.illusions3 {
  letter-spacing: 0.1em;
  font-weight: 700;
}
.illusions-p3 {
  margin: 0;
  color: var(--color-fuchsia-100);
}
.i-see-illusions3 {
  position: absolute;
  top: 235px;
  left: 369px;
  font-size: 128px;
  display: inline-block;
  width: 1062px;
  height: 357px;
}
.at-first-glance-did-you-see-a3,
.can-you-see-it-moving3,
.which-way-are-they-spinning-t3 {
  position: absolute;
  top: 3004px;
  left: 912px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-fuchsia-100);
  display: inline-block;
  width: 366px;
  height: 38px;
}
.can-you-see-it-moving3,
.which-way-are-they-spinning-t3 {
  top: 6490px;
  left: 152px;
  height: 41px;
}
.which-way-are-they-spinning-t3 {
  top: 7531px;
  left: 968px;
  height: 63px;
}
.rectangle-div23,
.top-div5 {
  position: absolute;
  cursor: pointer;
}
.rectangle-div23 {
  top: 7910px;
  left: 801px;
  border-radius: var(--br-sm);
  background-color: var(--color-blue-100);
  box-shadow: 0 4px 4px #ff09f6;
  width: 125px;
  height: 52px;
}
.top-div5 {
  top: calc(50% + 3787px);
  left: calc(50% - 93px);
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  display: inline-block;
  width: 186px;
  height: 35px;
}
.line-icon10,
.line-icon11 {
  position: absolute;
  top: calc(50% + 3776.57px);
  left: calc(50% - 11.57px);
  width: 14.66px;
  height: 10.52px;
}
.line-icon11 {
  left: calc(50% - 2.09px);
}
.entry-6-redesign-div {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 8280px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-jetbrains-mono);
}
