@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Apply this family to everything. */
body { font-family: 'Work Sans', sans-serif; }

/* Size is the first thing you’ll want to adjust. */
li:nth-child(1) { font-size: 28px; }
li:nth-child(2) { font-size: 10px; }
/* Browsers usually default to 16px. */

/* Then the space between your lines, relative to your font-size. */
li:nth-child(3) { line-height: 200%; }
/* This could also be written as “32px”, or just “2”. */

/* You can specify different weights. */
li:nth-child(4) { font-weight: 100; }
li:nth-child(5) { font-weight: 900; }
/* These go from 100–900, depending on what your family has. */
/* Default is 400, and you’ll see “bold”—which maps to 700. */

li:nth-child(6) { font-style: italic; } /* Default is “normal”. */

li:nth-child(7) { text-transform: uppercase; } /* YOU CAN YELL */

/* This uses a relative unit, based on the font-size. */
li:nth-child(8) { letter-spacing: 0.1em; }
li:nth-child(9) { letter-spacing: -0.1em; } /* Negative values. */

/* Keep in mind these don’t apply semantic meaning… */
li:nth-child(10) { text-decoration: underline; } /* Even non-links. */
li:nth-child(11) { text-decoration: line-through; }
/* Decoration should be paired with a tag, like <em> or <del>. */

li:nth-child(12) { text-align: center; } /* Default is “left”. */
li:nth-child(13) { text-align: right; }

p {color: rgb(180, 0, 0); font-family:'Futura', sans-serif;}
blockquote {color: blue;}
body {background-color: black;}
footer { background-color: rgb(8, 3, 3);}
*{color: rgb(248, 129, 32);}
p.warning {color: red;}
h2#second-heading {color: blue;}
a[href^='https://www.youtube.com/watch?v=OC6g21QRTZs'] {color: teal;}
details[open]{color: rgba(238, 67, 0, 0.61);}
a:link {color: red;}
a:visited{color: purple;}
a:hover {color: fuchsia;}
a:active {color: maroon;}

body {
	font-family: sans-serif;
	padding: 20px;
}

div { background-color: deepskyblue; }
p { padding: 20px 20px 40px 80px; }